.pagination {
  display: flex;
  margin: 0 20px;

  @media (max-width: 950px) {
    display: block;
  }

  .active {
    background-color: coral;
    padding: 15px 15px;
  }

  .pageLink {
    cursor: pointer;
    padding: 15px 15px;
  }

  .pageItem {
    padding: 15px 15px;
    border: 1px solid gray;
  }
}

